
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rmb:before { content: "\e656"; }

.icon-wenzi:before { content: "\e601"; }

.icon-mark:before { content: "\e600"; }

.icon-markactive:before { content: "\e610"; }

.icon-back:before { content: "\e604"; }

.icon-tongyongpinglun:before { content: "\e616"; }

.icon-pindaoguanli:before { content: "\e611"; }

.icon-quanping:before { content: "\e603"; }

.icon-asterisks-1-copy:before { content: "\e624"; }

.icon-xiazai:before { content: "\e606"; }

.icon-fenxiang:before { content: "\e607"; }

.icon-pinglun:before { content: "\e602"; }

.icon-quanping-copy:before { content: "\e608"; }

.icon-back-copy:before { content: "\e609"; }

.icon-zanting:before { content: "\e60b"; }

.icon-laba:before { content: "\e60c"; }

.icon-yigouxiangmu:before { content: "\e60e"; }

.icon-remenpaixing:before { content: "\e60f"; }

.icon-bofang:before { content: "\e60a"; }

.icon-laba1:before { content: "\e60d"; }

.icon-wenzi1:before { content: "\e612"; }

.icon-yanjing:before { content: "\e613"; }

.icon-yanjing1:before { content: "\e614"; }

.icon-icon:before { content: "\e63f"; }

.icon-icon1:before { content: "\e640"; }


