@import 'font.scss';
.ws-video {
  overflow: hidden;
}
.ws-video-top {
  position: relative;
  width: 100%;
  z-index: 1000;
}
.ws-video.ws-video-stick-top {
  position: fixed;
  top: 0;
  z-index: 200000;
}
.ws-video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
}
.ws-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 1200;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.ws-video-controls.hide {
  display: none;
}
.ws-video-controls-body {
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.ws-video-play-pause {
  width: 32px;
  height: 32px;
  text-align: center;
}
.ws-video-play-pause.is-playing {
  .ws-video-play {
    display: none;
  }
  .ws-video-pause {
    display: flex;
  }
}
.ws-video-play, .ws-video-pause, .ws-video-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #1478F0;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.ws-video-play {
  i {
    margin-left: 3px;
  }
}
.ws-video-pause {
  display: none;

}
.ws-video-fullscreen {
  border: none;
  i {
    font-size: 24px;
  }
}
.ws-video-currenttime, .ws-video-fulltime {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  pointer-events: none;
}
.ws-video-progress {
  display: flex;
  flex-grow: 3;
  align-items: center;
  height: 16px;
  position: relative;
  z-index: 2000;
}
.ws-video-progress-bar {
  width: 100%;
  position: absolute;
  left: 0;
  top: 7px;
  height: 1px;
  background-color: #d2d2d2;
  z-index: 2100;
  cursor: pointer;
}
.ws-video-progress-active-bar {
  position: absolute;
  left: 0;
  top: 6px;
  height: 3px;
  background-color: #0078EB;
  z-index: 2200;
  cursor: pointer;
}
.ws-video-progress-slider {
  width: 15px;
  height: 15px;
  top: 0;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  box-shadow: 0 0 3px #0078EB;
  z-index: 2300;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 5px #0078EB;
  }
}
.ws-video-title {
  width: 100%;
  height: 40px;
  background-color: #1A1B1E;
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  padding-left: 15px;
  z-index: 1300;
}
